* { box-sizing: border-box }
body{
  font-family: 'Open Sans Condensed', sans-serif;;
}
@import "side-menu.scss";
@import "side-menu-old-ie.scss";

.header{
  overflow: hidden;
  border-bottom: solid 1px $color_celeste_approx;
  .pure-menu-horizontal{
    .pure-menu-list{
      float: right;
    }
  }
}