.menu-link span, .menu-link span:before, .menu-link span:after {
  background-color: #fff;
  width: 100%;
  height: 0.2em; }

.menu-link span:before, .menu-link span:after {
  position: absolute;
  margin-top: -0.6em;
  content: " "; }

body {
  color: #777; }

.pure-img-responsive {
  max-width: 100%;
  height: auto; }

#layout {
  transition: all 0.2s ease-out;
  position: relative;
  padding-left: 0;
  padding-left: 150px;
  left: 0; }
  #layout.active #menu {
    left: 150px;
    width: 150px; }
  #layout.active .menu-link {
    left: 150px; }

#menu {
  transition: all 0.2s ease-out;
  margin-left: -150px;
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: #191818;
  overflow-y: auto;
  left: 150px; }
  #menu a {
    color: #999;
    border: none;
    padding: 0.6em 0 0.6em 0.6em; }
  #menu .pure-menu {
    border: none;
    background: transparent; }
    #menu .pure-menu ul {
      border: none;
      background: transparent;
      border-top: 1px solid #333; }
    #menu .pure-menu .menu-item-divided {
      border-top: 1px solid #333; }
    #menu .pure-menu li a:hover {
      background: #333; }
    #menu .pure-menu li a:focus {
      background: #333; }
  #menu .pure-menu-selected {
    background: limegreen; }
    #menu .pure-menu-selected a {
      color: #fff; }
  #menu .pure-menu-heading {
    background: limegreen;
    font-size: 110%;
    color: #fff;
    margin: 0; }

.menu-link {
  transition: all 0.2s ease-out;
  display: block;
  top: 0;
  left: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  font-size: 10px;
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;
  position: fixed;
  left: 150px;
  display: none; }
  .menu-link:hover {
    background: #000; }
  .menu-link:focus {
    background: #000; }
  .menu-link span {
    position: relative;
    display: block; }
    .menu-link span:after {
      margin-top: 0.6em; }

.content {
  margin: 0 auto;
  padding: 0 2em;
  margin-bottom: 50px;
  line-height: 1.6em;
  padding-left: 2em;
  padding-right: 2em; }

.content-subhead {
  margin: 20px 0;
  font-weight: 300;
  color: #888; }
